body {
    min-width: 700px;
    margin: 20px !important;
}

.item-input-wrapper {
    width: 600px;
    margin-right: 10px;
}

.bx--text-input__field-wrapper {
    max-width: 200px;
    min-width: 200px;
}

.emoji-priority-picker {
    width: 150px;
}

.item-input-wrapper {
    display: inline-flex;
}

.item-input-wrapper * {
    margin-right: 5px;
}

label {
    padding-bottom: 0;
    margin-bottom: 0;
}

.bx--number__input-wrapper {
    max-width: 50px;
    padding: 0;
}

.pref-text-input,
.bx--text-input {
    width: 200px !important;
}

.bx--text-input__field-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
}


/* .bx--toggle-input:checked+.bx--toggle-input__label>.bx--toggle__switch::before {
    background-color: #da1e28;
} */

.header-top {
    padding-top: 40px;
}

.bx--header__menu-trigger,
.bx--header__action {
    font-size: 1.5rem;
}